.main
  .main__space
    .main__space__destroy
      .main__space__destroy__box
        .main__space__destroy__box__text
          %span.text 商品出品を削除しました
    .main__space__links
      = link_to "#", class:"toppage" do
        .main__space__links__toppage
          %span トップページへ
      = link_to "#", class:"mypage" do
        .main__space__links__mypage
          %span マイページへ