* {
  box-sizing: border-box;
}

.address-page {
  height: 100vh;
  width: 100%;
  background-image: url(bg-mainVisual-pict_pc.jpg);
  background-size: cover;
  &__inner-edit {
    width: 600px;
    padding: 20px 50px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    overflow-y: scroll;

    .btn {
      background-color: #3CCACE;
      color: #fff;
      display: inline-block;
      height: 50px;
      width: 200px;
      padding: 0 30px;
      line-height: 50px;
      letter-spacing: 1px;
      text-align: center;
      border-radius: 10px;
    }
  }
  &__note{
    width: 600px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
  }
  &__sin{
    width: 600px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
  }
  &__sing-up{
    width: 600px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
  }
}
