.main{
  &__visual{
    height: 560px;
    background: image-url("bg-mainVisual-pict_pc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding: 0px 60px;
    align-items: center;
    display: flex;
    .content{
      max-width: 1280px;
      width: 100%;
      padding-top: 35px;
      margin: 0 auto;
      &__subtitle{
        color: #fff;
        font-size: 60px;
        text-shadow: 0 0 5px rgba(0, 0,0, 4);
        line-height: 1.2;
      }
      &__text{
        color: #fff;
        font-size:  18px;
        line-height: 1.77778;
        margin: 16px 0 0 0;
        text-shadow: 0 0 5px rgba(0, 0,0, 4);
      }
      &__btn{
        display: flex;
        margin-top: 24px;
        padding: 0;
      }
    }
  }
  &__top-introduction{
    padding: 60px 20px;
    &__subtitle{
      color: #000;
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    &__subtitle::after{
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    .lists{
      text-align: center;
      display: flex;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;
      .list{
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__pict{
          position: relative;
          margin-bottom: 20px;
          .number{
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }

        }
        &__text{
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin-bottom: 2px;
        }
        &__description{
          font-size: 18px;
          line-height: 1.5;
          margin-top: 16px;
        }
      }
    }
  }
  &__top-middeldl{
    height: 400px;
    background: image-url("bg-topMiddleDl-pict.jpg");
    background-size: cover;
    background-position: bottom right;
    align-items: center;
    display: flex;
    &__inner{
      color: #fff;
      text-shadow: 0 0 5px rgba(0, 0,0, 4);
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      .submit{
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
        color: #fff;
      }
      .text{
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
      .btn{
        display: flex;
        margin-top: 24px;
        padding: 0;
      }
    }
  }
  &__top-keyfeatures{
    padding: 60px 100px;
    background-color: #fff;
    .head{
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
      color: #000;
    }
    .head::after{
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    .items{
      max-width: clac(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: nowrap;
      .item{
        display: flex;
        flex-direction: column;
        width: calc(1/3 * 100%);
        text-align: center;
        padding: 0 20px;
        &__img{
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
        }
        &__subtitle{
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        &__detail{
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
    }
  }
  &__pickupcontainer{
    padding: 80px 0 0;
    background-color: #f8f8f8;
    height: 100%;
    .head{
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
      color: #000;
    }
    .productbox{
      .producthead{
        text-align: center;
        a{
          text-decoration: none;
          font-size: 24px;
          color: #3CCaCE;
        }
      }
      .productlists{
        width: 780px;
        margin: 26px auto;
        display: flex;
        justify-content: space-around;
        
        &__soldout{
          position: relative;
          width: 220px;
          display: inline-block;
          background-color: white;
          font-size: 18px;
          font-weight: bold;
          position: relative;
          overflow: hidden; 
          text-align: center;
          text-decoration: none;
          :after {
            z-index: 2;
            content: 'SOLD OUT';
            position: absolute;
            left: 0;
            top: 0;
            background: red;
            width: 100%;
            height: 100%;
            // -webkit-transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.4);
            // transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.4);
            // -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
            -webkit-transform-origin: top center;
            transform-origin: top center;
            color: white;
            background: rgba(0,0,0,.6);
            -webkit-transition: .3s;
            transition: .3s;
            opacity: 1;
          }
          :hover:after {
            -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
          }

          .soldout{ /* 2020/3/28 高田追記 */
            background-color: red;
            color: white;
            text-align: center;
          }
          .sub_image_1 {
            width: 150px;
            height: 150px;
            object-fit: cover;
          }
          &--body{
            background-color: white;
            color: #333;
            padding: 16px;
            .name{
              overflow: hidden;
              line-height: 1.5;
              font-size: 16px;
              text-align: left;
            }
            .details{
              ul{
                display: flex;
                align-items: center;
                justify-content: space-between;
              }
            }
            p{
              font-size: 10px;
              text-align: left;
            }
          }
        }
        &__sale {
          position: relative;
          width: 220px;
          display: inline-block;
          background-color: white;
          font-size: 16px;
          font-weight: bold;
          position: relative;
          overflow: hidden; 
          text-align: center;
          text-decoration: none;
          .sale{ 
            background-color: #3ccace;
            color: white;
            text-align: center;
          }
          .sub_image_2 {
            width: 150px;
            height: 150px;
            object-fit: cover;
          }

          &--body{
            background-color: white;
            color: #333;
            padding: 16px;
            .name{
              overflow: hidden;
              line-height: 1.5;
              font-size: 16px;
              text-align: left;
            }
            .details{
              ul{
                display: flex;
                align-items: center;
                justify-content: space-between;
              }
            }
            p{
              font-size: 10px;
              text-align: left;
            }
          }
        }
      }
    }
  }
}

.appbanner{
  background: image-url("bg-appBanner-pict.jpg");
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  .inner{
    color: #fff;
    text-align: center;
    &__title{
      text-shadow: 0 0 5px rgba(0, 0,0, 4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
      color: #fff;
    }
    &__text{
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0, 0,0, 4);
    }
    &__icon{
     width: 100%;
     display: flex;
     justify-content: center;
     margin: 20px auto 0; 
    }
  }
}

span{
  color: #3ccace;
}