* {
  box-sizing: border-box;
}
@mixin list-btn {
  min-height: 48px;
  display: block;
  padding: 16px;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  position: relative;
  text-decoration: none;
}
@mixin list-icon {
  font-size: 20px;
  position: absolute;
  top: 18px;
  right: 16px;
  color: #ccc;
}

.mypage {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #f6f6f6;
  overflow: scroll;
  &__content {
    width: 1020px;
    margin: 40px 40px ;
    display: flex;
    justify-content: space-between;
    &__side {
      width: 220px;
      margin-right: 40px;
      &__nav {
        margin: 0 ;
        padding: 0;
        &__list {
          list-style: none;
          & li {
            margin: 1px 0;
          }
          & a {
            @include list-btn;
          }
          & a:hover {
            background: #f9f9f9; 
          }
          & i {
            @include list-icon;
          }
          & a:hover i {
            transition: all ease-out .3s;
            transform: translate(70%, 0);
            color: #111;
          }
        }
      }
      .mypage__content__side__nav__setting {
        font-size: 16px;
        margin: 40px 0 0;
        font-weight: bold;
        &__list {
          list-style: none;
          & li {
            margin: 1px 0;
          }
          & a {
            @include list-btn;
          }
          & a:hover {
            background: #f9f9f9; 
          }
          & i {
            @include list-icon;
          }
          & a:hover i {
            transition: all ease-out .3s;
            transform: translate(70%, 0);
            color: #111;
          }
        }
      }
    }
    &__main {
      width: 700px;
      &__user {
        padding: 20px;
        position: relative;
        height: 200px;
        width: 100%;
        background: url(https://www.mercari.com/jp/assets/img/mypage/user-bg.jpg?28454652);
        background-size: cover;
        text-align: center;
        a {
          display: block;
          position: absolute;
          top: 40px;
          left: 0;
          right: 0;
          color: #333;
          text-decoration: none;
        }
        
        &__img {
          margin: 0 auto;
          overflow: hidden;
          &__icon {
            height: 60px;
            width: 60px;
            border-radius: 50%;
            :hover {
              opacity: .8;
              text-decoration: underline;
            }
          }
          &__name {
            margin: 8px 0 0;
            font-size: 11px;
            font-weight: 600;
            a {
              position: relative;
              display: inline-block;
              text-decoration: none;
              color: black;
            }
            a::after {
              position: absolute;
              bottom: 40px;
              left: 0;
              content: '';
              width: 100%;
              height: 2px;
              background: #3CCACE;
              transform: scale(0, 1);
              transform-origin: center top;
              transition: transform .3s;
            }
            a:hover::after {
              transform: scale(1, 1);
            }
          }
        }
        
        &__status {
          margin: 8px 0 0 8px;
          display: inline-block;
          font-size: 15px;
          font-weight: bold;
          display: flex;
          align-items: center;
          justify-content: center;
          &__sell {
            margin-left: 16px;
            display: flex;
          }
          & span {
            margin-left: 8px;
          }       
        }
      }
      &__container {
        margin-top: 40px;
        background: #fff;
        &__header {
          line-height: 72px;
          padding: 0 16px;
          font-weight: bold;
        }
        &__tab {
          width: 100%;
          display: flex;
          justify-content: space-between;
          background-color: #eee;
          font-weight: bold;
          a {
            color: black;
            text-decoration: none;
          }
          &__1 {
            display: flex;
            width: 50%;
            height: 80px;
            align-items: center;
            text-align: center;
            justify-content: center;
          }
          &__2 {
            display: flex;
            width: 50%;
            height: 80px;
            align-items: center;
            border-left: #f5f5f5 solid 1px;
            text-align: center;
            justify-content: center;
          }
        }
        &__content {
          display: flex;
          width: 100%;
          .mypage-list-item {
            border-bottom: 1px solid #eee;
            &__link {
              position: relative;
              display: block;
              display: flex;
              padding: 16px;
              color: #333;
            }
            &__thumbnail {
              margin: 0;
              position: absolute;
              top: 0;
              left: 0;
              position: relative;
              width: 48px;
              height: 48px;
              & img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                width: 100%;
              }
            }
            &__text {
              position: relative;
              margin-left: 20px;
              margin-right: 40px;
              & div {
                height: 42px;
                width: 560px;
              }
              & time {
                position: absolute;
                top: 42px;
                left: 2px;
                height: 20px;
                display: flex;
                align-items: center;
                & i {
                  margin-right: 8px;
                }
                & span {
                  font-size: 12px;
                }
              }
            }
            &__icon {
              font-size: 20px;
              position: absolute;
              right: 20px;
              top: 33%;
            }
          }
          .all-view {
            padding: 16px;
            &__link {
              display: block;
              height: 56px;
              margin: 0 auto;
              background-color: #eee;
              line-height: 56px;
              text-align: center;
              color: #333;
              text-decoration: none;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
aside {
  background-image: url(http://furima.tokyo/assets/bg-appBanner-pict-ce684a4c4d5fa2da43c30a3839923591af75a642a3a906ad975065771ef3d72f.jpg);
  background-size: cover;
  background-position: center;
  padding: 100px 40px;
  position: relative;
  .mypage__inner-box {
    color: white;
    text-align: center;
    &__title {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
      text-shadow: 0 0 5px rgba(0,0,0,0.4)
    }
    &__text {
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4)
    }
    &__icon {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px auto 0;
      & img {
        width: 180px;
      }
      & img:hover {
        opacity: .5;
      }
      &__btn-a {
        margin-right: 10px;
      }
    }
  }
}