* {
  box-sizing: border-box;
}
.account-page {
  height: 100vh;
  width: 100%;
  background-image: url(bg-mainVisual-pict_pc.jpg);
  background-size: cover;
  &__inner {
    height: 600px;
    width: 600px;
    padding: 0 50px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    overflow-y: scroll;
    &__user-head{
      color: #000;
      padding: 20px 0 10px 0;
      font-size: 24px;
      text-align: left;
    }
    &__field {
      width: 100%;
      margin-bottom: 10px;
      display: flex;
      &__label{
        padding: 20px 0;
        letter-spacing: 1px;
        font-size: 14px;
        font-weight: 200;
        width: 150px;
        i {
          font-size: 11px;
        }
      }
      &__nonull{
        padding: 15px;
        p{
          background-color: red;
          color: #fff;
          height: 20px;
          width: 30px;
          line-height: 20px;
          font-size: 10px;
          border-radius: 5px;
        }
      }
      &__input{
        input{
        width: 250px;
        padding: 10px;
        letter-spacing: 1px;
        }
      }
      &__label-birthdate{
        padding: 20px 0;
        letter-spacing: 1px;
        font-size: 14px;
        font-weight: 200;
        width: 150px;
      }
      #user_birth_date_1i{
        width: 120px;
        height: 40px;
        letter-spacing: 1px;
        margin-top: 5px;
      }
      #user_birth_date_2i{
        width: 60px;
        height: 40px;
        letter-spacing: 1px;
      }
      #user_birth_date_3i{
        width: 60px;
        height: 40px;
        letter-spacing: 1px;
      }
      .field-label {
        .field_with_errors {
          display: inline-block;
          color: #d65f4c;
          font-weight: 400;
        }
      }
      .field-input {
        .field_with_errors {
          position: relative;
          &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 5px;
            background-color: #d65f4c;
          }
        }
      }
    }
    .btn {
      background-color: #3CCACE;
      color: #fff;
      display: inline-block;
      height: 50px;
      width: 200px;
      padding: 0 30px;
      line-height: 50px;
      letter-spacing: 1px;
      text-align: center;
      border-radius: 10px;
    }
  }
  &__note{
    width: 600px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
  }
  &__sin{
    width: 600px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
  }
  &__sing-up{
    width: 600px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
  }
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;

  h2 {
    margin-bottom: 10px;
    color: #d65f4c;
    font-size: 14px;
  }

  ul {
    margin: 0;
    padding-left: 17px;
    list-style: square;
  }

  li {
    margin: 0;
    padding: 0;
    font-size: 13px;
  }
}