@import "reset";
@import "font-awesome-sprockets";
@import "font-awesome";


.pcHeader{
  width: 100%;
  height: 100px;
  background-color: aqua;
}
.pcFooter{
  width: 100%;
  height: 100px;
  background-color: gray;
}

