@@ -0,0 +1,107 @@
%main.l-container-clearfix
  %div.l-side 
    %nav.mypage-nav
      %ul.mypage-nav-list
        %li
          %a.mypage-nav-list-item(href="#")
            マイページ
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item(href="#")
            お知らせ
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item(href="#")
            やることリスト
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item(href="#")
            いいね！一覧
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item(href="#")
            出品する
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item(href="#")
            下書き一覧
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item(href="#")
            出品した商品-出品中
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item(href="#")
            出品した商品-取引中
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item(href="#")
            出品した商品-売却済み
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item(href="#")
            購入した商品-取引中
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item(href="#")
            購入した商品-過去の取引
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item(href="#")
            ニュース一覧
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item(href="#")
            評価一覧
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item(href="#")
            ガイド
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item(href="#")
            お問い合わせ
            %i.icon-arrow-right
    %h3.mypage-nav-head
      メルペイ
      %ul.mypage-nav-list
        %li
          %a.mypage-nav-list-item(href="")
            売上・振込申請
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item(href="")
            ポイント
            %i.icon-arrow-right
    %h3.mypage-nav-head
      設定
      %ul.mypage-nav-list
        %li
          %a.mypage-nav-list-item(href="")
            プロフィール
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item(href="#")
            発送先・お届け先住所変更
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item(href="#")
            支払い方法
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item(href="#")
            メール/パスワード
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item(href="#")
            本人情報
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item(href="#")
            電話番号の確認
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item(href="#")
            ログアウト
            %i.icon-arrow-right
  %div.l-content
    %section.mypage-tab-container-notification-todo
      %ul.mypage-tabs
        %li
          %a(href="#")
          お知らせ
      %ul.mypage-tabs
        %li
          %a(href="#")
          やることリスト
      %div.tab-content
        %ul#mypage-tab-notification.mypage-item-list
